# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Environments
.env
.venv/
env/
venv/
ENV/

# Logs
logs/
*.log

# Docker
*.log
*.pid
*.out
*.err
*.tar

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# macOS
.DS_Store

# Pytest
.cache/
